<%= form_with(model: @group, url: groups_path, local: true) do |f| %>
  <div>
    <p>グループ名</p>
    <%= f.text_field :name %>
  </div>
  <br>
  <p>所属するメンバー</p>
   <div class="field">
    <%= collection_check_boxes(:group, :user_ids, User.all, :id, :name ) do |t|  %>
      <% t.label { t.check_box + t.text } %>
    <% end %> 
  </div>
   <br>
  <%= f.submit %>
<% end %>