// Place all the styles related to the groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.ui.form{
    display: flex;
    justify-content: center;
    align-items: center;
  }


  .checkbox-wrapper{
    margin: 0 0 10px 20px;
  }

  input[type="checkbox"] {
    transform:scale(1.5);
    margin: 5px 20px 20px 0;
  }
  // input[type="submit"] {
  //   width: 100%;
  // }
  .submit.ui.button{
    padding: 10px
  }

  .button-wrapper{
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .button-wrapper > a{
    width: 120px;
  }

  .button-wrapper > input[type="submit"] {
    width: 120px;
  }


