// Place all the styles related to the groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.ui.form{
    display: flex;
    justify-content: center;
    align-items: center;
  }


  .checkbox-wrapper{
    margin: 0 0 10px 20px;
  }

  input[type="checkbox"] {
    transform:scale(1.5);
    margin: 5px 20px 20px 0;
  }
  // input[type="submit"] {
  //   width: 100%;
  // }
  .submit.ui.button{
    padding: 10px
  }

  .button-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
  }



/* ラベルのスタイル　*/
// .checkbox-wrapper label {
// 	padding-left:		38px;			/* ラベルの位置 */
// 	font-size:		32px;
// 	line-height:		32px;
// 	display:		inline-block;
// 	cursor:			pointer;
// 	position:		relative;
// }

/* ボックスのスタイル */
// .checkbox-wrapper label:before {
// 	width:			32px;			/* ボックスの横幅 */
// 	height:			32px;			/* ボックスの縦幅 */
// 	display:		inline-block;
// 	position:		absolute;
// 	left:			0;
// 	background-color:	#fff;
// 	box-shadow:		inset 1px 2px 3px 0px #000;
// 	border-radius:		6px 6px 6px 6px;
// }
